* {
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbarheader {
    padding: 1em;
    text-align: center;
    font-size: 2em;
    font-style: italic bold;
    background-color: aqua;
}

footer {
    text-align: center;
    font-style: italic bold;
}

#logexpenses,
#logentries {
    margin: 1px solid black;
}

#logexpenses,
#logentries,
#newexpenses,
#newentries {
    margin: 1em;
    padding: 1em;
    text-align: center;
}


/* Button and input tag design */

input {
    border: 2px solid black;
    border-radius: 10%;
    padding: .4em;
    width: 30%;
}

button {
    height: 1.5em;
    width: 25%;
    background-color: cyan;
    font-size: 1.5em;
}


/* Css for the grid layout to the main html tags */

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#logexpenses {
    grid-column: 1;
    grid-row: 1;
}

#logentries {
    grid-column: 2;
    grid-row: 1;
}

#newexpenses {
    grid-column: 1;
    grid-row: 2;
}

#newentries {
    grid-column: 2;
    grid-row: 2;
}